body {
    font-style: italic;
    font-family: Cambria;
    line-height: 1.8;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #818181;
    background-color:lightgray;
}
#about h1 {
    font-size: 50px;
    text-transform: uppercase;
    color:white;
    text-shadow: 5px 5px black;
    font-weight: 600;
    position: relative;
    top:10vh;
    font-style: italic;
    font-family: Cambria;

}

h4{
    text-shadow: 3px 3px 3px gray;
    font-weight: bolder;
    font-size: 3vh;
    color: #c94340;
}
h3{
    text-shadow: 3px 3px 5px gray;
    font-size: 3vh;
}
h2{
    color: #c94340;
    text-shadow: 3px 3px 5px gray;
    font-weight: bold;
    font-size: 29px;
}
.about_special{
    color: #c94340;
    text-shadow: 5px 5px 5px white;

}
#about h1:hover{
    color: #c94340;
    font-size: 60px;

}
#about h3:hover{
    color: #c94340;
    font-size: 40px;
}
#about h3 {
    font-style: italic;
    font-family: Cambria;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1.375em;
    color: white;;
    text-shadow: 3px 3px black;
    position: relative;
    top:10vh;
}

#about{
    height: 100vh;
    box-sizing: border-box;
    background-image: url("images/landing_page_img_copy.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    z-index: -1;
}

#about button{
    background-color: #f6f6f6;
    border-radius: 10px;
    width: 20vw;
    height: 5vh;
    position: relative;
    top: 10vh;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid #c94340;
    animation-name: button_background;
    -webkit-animation-name: button_background;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: 3;
    box-shadow: 3px 3px 3px black;

}
@-webkit-keyframes button_background {
    0% {
        background-color: white;
    }
    50%{
        background-color: #818181;
        border: 2px solid #c94340;
        color: black;
    }
    100% {
        background-color: #373b47;
        border: 2px solid white;
    }
}
.time_message{
    color: white;
    animation-name: displaytime;
    -webkit-animation-name: displaytime;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
    text-decoration: underline;
    text-shadow: 2px 2px #c94340;
}
.about{
    animation-name: displaytime;
    -webkit-animation-name: displaytime;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
    text-decoration: underline;
}
@-webkit-keyframes displaytime {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 30px;
    }
}
#about button>a{
    color: #c94340;
}
.know_me span{
    color: #c94340;
    font-size: 20px;
}
 p{
    font-size: 20px;
}
 .about_me{
     border: 5px solid #818181;
     border-radius: 10px;
     box-shadow: 5px 5px 15px gray;

 }

@keyframes slide_about_me {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.about_me p strong{
    color: #c94340;
}

/* about me section style ends here*/
.container-fluid {
    padding: 30px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    width: 150px;
    height: 150px;
    border: 4px solid transparent;
    color: #c94340;

}

.specialize,.sp_second{
    text-decoration: underline;
    color:#c94340;
}

.about_img>img{
    height: 300px;
    border-radius: 100%;
    box-shadow: 10px 10px 10px gray;
}

.hori_line{
    width: 300px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    background-color: #9E9E9E;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.hover_panel1,.hover_panel2,.hover_panel3,.hover_panel4,.hover_panel5,.hover_panel6{
    display: none;
    color: #c94340;
    position: absolute;
    top:300px;
    z-index: 1;

}
.hover-p{
    padding: 0 1vw;
}
.hover_panel_animation{
    opacity: 0.1;
    z-index: -1;
}
.project-div{
    /*box-shadow: 5px 5px 5px gray;*/
}
.panel {
    border: 1px solid #c94340;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 5px 5px gray;

}
.panel-body>img{
    height: 400px;
}
.panel-footer .btn:hover {
    border: 1px solid #c94340;
    background-color: #fff !important;
    color: #c94340
}
.panel-default>.panel-heading{

}
.panel-heading {
    color: #fff !important;
    background-color: #c94340 !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 15vh;
    text-shadow: 3px 3px 3px slategrey;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #c94340;
    color: #fff;
    box-shadow: 3px 3px 3px gray;
}
.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    font-weight: bolder;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    border-top: 5px solid #c94340
}
.navbar li a, .navbar .navbar-brand {
    color: #c94340 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #818181 !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #c94340
}

.pull-right{
    background-color: #c94340;
    color: white;
    box-shadow: 5px 5px 5px grey;
}
.slideanim_h1{
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    visibility: visible;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
}

#contact{
    margin-bottom: 50px;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {          /* medium screen devices*/
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    h1{
        font-size: 25px;
    }
    #about h1{
        font-size: 50px;
        top:25vh;
    }
    #about h3{
        font-size: 30px;
        top:25vh;

    }
    #about button{
        font-size: 20px;
        top:25vh;
        width:30vh ;
        height: 8vh;

    }
    .about_img>img{
        height: 600px;
        /*z-index: -1;*/
        /*opacity: 0.2;*/
    }
}
@media screen and (max-width: 736px) {              /* small screen devices*/
    .logo {
        font-size: 150px;
    }
    #about h1{
        font-size: 40px;
    }
    #about h3{
        font-size: 20px;
    }
    #about button{
        font-size: 15px;
    }
    .about_img>img{
        height: 300px;
    }
}