body {
    font-style: italic;
    font-family: Cambria;
    line-height: 1.8;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #818181;
    background-color:lightgray;
}
#about h1 {
    font-size: 50px;
    text-transform: uppercase;
    color:white;
    text-shadow: 5px 5px black;
    font-weight: 600;
    margin-top: 20vh;
    position: relative;
    top:45vh;
    font-style: italic;
    font-family: Cambria;

}
.about_special{
    color: #98104b;
    text-shadow: 5px 5px 5px white;

}
#about h1:hover{
    color: #98104b;
    font-size: 60px;

}
#about h3:hover{
    color: #98104b;
    font-size: 40px;
}
#about h3 {
    font-style: italic;
    font-family: Cambria;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1.375em;
    color: white;;
    text-shadow: 3px 3px black;
    position: relative;
    top:45vh;
}

#about{
    height: 100vh;
    box-sizing: border-box;
    background-image: url("images/landing_page_img_copy.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    z-index: -1;
    #opacity: 0.7;
}

#about button{
    background-color: #f6f6f6;
    border-radius: 10px;
    width: 20vw;
    height: 5vh;
    position: relative;
    top: 45vh;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid #98104b;
}
#about button>a{
    color: #98104b;
}
.know_me span{
    color: #98104b;
    font-size: 20px;
}
.about_me p{
    font-size: 20px;
}
.about_me p strong{
    color: #98104b;
}
.container-fluid {
    padding: 30px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    width: 150px;
    height: 150px;
    border: 4px solid transparent;
    color: #98104b;

}
#skills>.row h4{
    color: #98104b;
    font-weight: bolder;

}
.logo {
    color: #98104b;
    font-size: 200px;

}
.about_img>img{
    height: 360px;
    border-radius: 100%;
}
h2{
    color: #98104b;
}

.hori_line{
    width: 300px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #98104b;
}
.carousel-indicators li {
    border-color: #98104b;
}
.carousel-indicators li.active {
    background-color: #98104b;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #98104b;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-body>img{
    height: 400px;
}
.panel-footer .btn:hover {
    border: 1px solid #98104b;
    background-color: #fff !important;
    color: #98104b;
}
.panel-heading {
    color: #fff !important;
    background-color: #98104b !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #98104b;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    #background-color: #98104b;
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    font-weight: bolder;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #98104b !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #818181 !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #98104b;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }

    #about h1{
        font-size: 50px;
        top:25vh;
    }
    #about h3{
        font-size: 30px;
        top:25vh;

    }
    #about button{
        font-size: 20px;
        top:25vh;
        width:30vh ;
        height: 8vh;

    }
    .about_img>img{
        height: 600px;
        /*z-index: -1;*/
        /*opacity: 0.2;*/
    }
}
@media screen and (max-width: 736px) {
    .logo {
        font-size: 150px;
    }
    #about h1{
        font-size: 40px;
    }
    #about h3{
        font-size: 20px;
    }
    #about button{
        font-size: 15px;
    }
    .about_img>img{
        height: 300px;
    }
}